// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group{
    margin-left: 500px;
    margin-right: 500px;

}

.myButton {
	background-color:#7fc1d1;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 4rem;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.table{
	width: 70%;
	text-align: center;
	margin-left: 8rem;
	margin-top: 4rem;
}
.wel{
	color: rgb(8, 85, 85);
	margin-top: 2rem;
}
.card{
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 2rem;
	background-color: rgb(165, 228, 228)
}
.card-body{
	margin-left: auto;
	margin-right: auto;
}